<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<!-- Create a table with headers for event name, date, and location -->
<div class="content-container">
<h1 class="appName">Events</h1>



<!-- A search form -->
<div class = "search-bar">
  <button> <a href = "/events/trends">Go To Event Trends </a></button>

    <form action="/events" method="get">
        <label for="search">Search:</label>
        <input type="text" id="search" name="searchQuery" placeholder="Enter event name">
        <button type="submit">Search</button>
    </form>

    <!-- A sort dropdown -->
    <form action="/events" method="get">
        <label for="sort">Sort by date:</label>
        <select id="sort" name="sortOrder">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>
</div>

  {{#each events}}  
      <div class="event-box" data-aos="fade-up" data-aos-duration="3000">
      <h2>{{this.name}}</h2>
      <p>Date: {{this.date}}</p>
      <p>Location: {{this.location}}</p>
      <p>Description: {{this.description}}</p>

      {{!-- {{#if event.imageData}}
        <img src="data:{{this.imageData.contentType}};base64,{{event.imageData.data.toString('base64')}}" alt="{{event.name}}"> 
      {{/if}} --}}

      <form action="/events/register" method="post">
            <input type="hidden" name="eventId" value="{{this._id}}">
            <button type="submit">Register</button>
      </form>
      
      </div>

  {{/each}}

<br><br><br>
 <button> <a href="/logout" style="text-decoration: none;">Log Out</a>  </button> 
</div>
</html>




{{!-- <table>
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {{#each events}}
      <tr style="background-color:black">
        <td>{{name}}</td>
        <td>{{date}}</td>
        <td>{{location}}</td>
        <td>
          <button class="add-button" onclick="addEvent('{{id}}')">Add</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table> --}}