<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<!-- Create a table with headers for event name, date, and location -->
<div class="content-container">
<h1 class="appName">Events</h1>



<!-- A search form -->
<div class = "search-bar">
  <button> <a href = "/events/trends">Go To Event Trends </a></button>

    <form action="/events" method="get">
        <label for="search">Search:</label>
        <input type="text" id="search" name="searchQuery" placeholder="Enter event name">
        <button type="submit">Search</button>
    </form>

    <!-- A sort dropdown -->
    <form action="/events" method="get">
        <label for="sort">Sort by date:</label>
        <select id="sort" name="sortOrder">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>
</div>

  {{#each events}}  
      <div class="event-box" data-aos="fade-up" data-aos-duration="3000">
        <div class="eventHeading"><h2>{{this.name}}</h2></div>
        <span class ="eventText">
        <p>Date: {{this.date}}</p>
        <p>Time: {{this.time}}</p>
        <p>Location: {{this.location}}</p>
        <p>Description: {{this.description}}</p>

        <form action="/events/register" method="post">
              <input type="hidden" name="eventId" value="{{this._id}}">
              <button type="submit">Register</button>
        </form>
        </span>
        <span class="eventImage">
      {{#if this.imageData}}
    <img src="{{this.imageData}}" alt="{{this.name}}" loading="lazy" />
{{else}}
    <img src="/path/to/placeholder-image.jpg" alt="No image available" loading="lazy" />
{{/if}}

        </span>
      </div>

  {{/each}}

<br><br><br>
 <button> <a href="/logout" style="text-decoration: none;">Log Out</a>  </button> 
</div>
{{#if errorMessage}}
    <script>
        window.alert("{{errorMessage}}");
    </script>
{{/if}}

</body>
</html>