<!DOCTYPE html>
<html>
<head>
    <title>My Events</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<!-- Create a table with headers for event name, date, and location -->
<div class="content-container"></div>
<h1 class="appName">Events</h1>



<h1>My Events</h1>


{{#if userEvents.length}}
  {{#each userEvents}}
    <div class="event-container">
      <h2>{{this.name}}</h2>
      <p>Date: {{this.date}}</p>
      <p>Location: {{this.location}}</p>
      <p>Description: {{this.description}}</p>

 <!-- Add a delete button with a form -->
        <form method="POST" action="/myevents/delete/{{_id}}">
          <button type="submit">Delete Event</button>
        </form>

    </div>
  {{/each}}
{{else}}
  <p>No events found.</p>
{{/if}}

</div>
</html>